@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap');

/* estilos globales*/

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 2.5vh;
  font-family: "Roboto Mono", Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: var(--bg-dark);
  overflow-x: hidden;
}


:root {
  --accent-color-1: #6919FF;
  --accent-color-2: #FFB219;
  --bg-dark: #0F1922;
  --bg-light: #FFFEFA;
  --navbar-height: 12vh;
}


/*sección navbar*/

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: var(--accent-color-1);
  height: var(--navbar-height);
  z-index: 2;
}

#navbar>ul {
  width: 90vw;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

#navbar>ul a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: var(--bg-light)
}



/*sección welcome*/

#welcome-section {
  position: relative;
  top: 12rem;
  left: 0rem;
  height: calc(50vh - var(--navbar-height));
  background-color: var(--bg-dark);
  color: var(--bg-light);
  padding-left: 2rem;

}

#welcome-title {
  font-size: 4rem;
  font-weight: 700;
  animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#welcome-subtitle {
  position: relative;
  bottom: 2.4rem;
  left: -20rem;
  font-size: 2.1rem;
  font-weight: 100;
  display: inline-block;
  animation: movingSubtitle 2.5s 1.5s forwards ease;

}

@keyframes movingSubtitle {
  from {
    left: -10rem;
  }

  to {
    left: 0.5rem;
  }
}



/*sección about*/

#about {
  background-color: var(--accent-color-2);
  position: relative;
  top: 25rem;
  width: 100vw;
  height: 80vh;
  font-weight: 400;
  padding-left: 7rem;
  padding-bottom: 1.5rem;
}

#about-header {
  position: relative;
  top: 8rem;
  left: 4rem;
  width: 100vw;
  text-align: justify;
  font-size: 3.8rem;
  font-weight: 700;
}

#about-content {
  position: relative;
  top: 8rem;
  left: 4rem;
  width: 100vw;
  font-size: 2.6rem;
  font-weight: 400;

}



/*sección projects*/

#projects {
  position: relative;
  top: 30rem;
  width: 100vw;
  background-color: var(--bg-dark);
  margin-top: 8rem;
  margin-bottom: 35rem;

}

#projects-header {
  font-size: 1.7rem;
  text-align: center;
  color: var(--bg-light);
  margin: 4rem 0;
}

#projects-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;

}


/*nodo project-tile y sus children*/

.project-tile {
  width: 31vw;
  height: 72vh;
  text-align: center;
}

.project-img {
  max-width: 100%;
  height: auto;
}

.project-name-container {
  background-color: var(--accent-color-1);
  padding: 0.8rem 0;
}


.project-name-container>a {
  text-decoration: none;
  color: var(--bg-light);
  font-weight: 700;
}



/*sección contact*/

#contact {
  background-color: var(--accent-color-1);
  position: relative;
  top: 5rem;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  padding: 5rem 0;

}

#contact-header {
  width: 100vw;
  font-size: 2.7rem;

}

#contact-items-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;

}

.contact-item {
  transition: transform 0.1s;
}

.contact-item:hover {
  transform: scale(1.1);
}


/* sección footer*/

#footer {
  margin-top: 8rem;
  width: 100vw;
  height: 10vh;
  color: var(--bg-light);
  text-align: center;
  font-weight: 100;

}



/*estilos responsive*/

/* ancho de pantalla < 768px */

@media all and (max-width:768px) {

  #welcome-section {
    height: 24vh;
  }

  #welcome-title {
    font-size: 3rem;
  }


  #about {
    width: 100vw;
    height: 50vh;
  }

  #about-header {
    position: relative;
    top: 4rem;
    left: -5rem;
    width: 100vw;
    font-size: 2.2rem;
    padding-top: 2rem;
  }

  #about-content {
    position: relative;
    top: 1rem;
    left: -5rem;
    font-size: 1.5rem;
    width: 100vw;
    margin-top: 5rem;
  }

  #projects {
    position: relative;
    top: 30rem;
    width: 100vw;
    margin-bottom: 38rem;
    margin-top: 4rem;
    background-color: var(--bg-dark);

  }

  #projects-flex-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }

  .project-tile {
    width: 40vw;
    height: 50vh;
  }

  #contact {
    width: 100vw;
    background-color: var(--accent-color-1);
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;

  }

  #contact-header {
    width: 100vw;
    font-size: 2.1rem;

  }

  #contact-items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

  }

}

/* ancho de pantalla < 480px */

@media all and (max-width:480px) {

  #navbar {
    height: calc(var(--navbar-height) + 15vh);
    font-size: 2.5vh;
  }

  #navbar>ul {
    width: 80vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    margin-top: 2rem;
  }


  #welcome-section {
    position: relative;
    top: 15rem;
    left: 1rem;
    height: 28vh;
  }

  #welcome-title {
    font-size: 2.3rem;
    width: 80%;
    text-align: center;
  }

  #welcome-subtitle {
    position: relative;
    bottom: 0rem;
    left: -20rem;
    display: inline-block;
    font-size: 2.1rem;
    font-weight: 100;
    font-size: 1.7rem;

  }


  #about {
    width: 100vw;
    height: 50vh;
  }

  #about-header {
    position: relative;
    top: 4rem;
    left: -6rem;
    width: 100vw;
    font-size: 1.9rem;
    padding-top: 1rem;

  }

  #about-content {
    position: relative;
    top: 1rem;
    left: -6rem;
    width: 90vw;
    font-size: 1.3rem;
    margin-top: 5rem;
  }

  #projects-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;

  }

  #projects {
    margin-bottom: 6rem;
  }

  #projects-header {
    font-size: 1.3rem;
  }

  .project-tile {
    width: 85vw;
    height: 50vh;
  }

  #contact {
    position: relative;
    top: 30rem;
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
  }

  #contact-items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  #contact-header {
    width: 90vw;
    font-size: 1.5rem;
    padding-left: 1.2rem;

  }

  #footer {
    position: relative;
    top: 25rem;
  }

}