@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

html, body{
    width:100vw;
    margin:0;
    padding:0;
    border:0;
    font-family:'Comfortaa', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.7vh; 
    text-align: center;
    box-sizing: border-box;
    background-image: url("./images/fair_weather.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    overflow-x:hidden;
    
}


/* sección header */

#header{
   margin-top:3.8rem;
   text-align: center;
}

#title{
  font-size:2rem;
}

#brand-in-title{
    color:white;
    font-weight: 600;       
}

#description{
    font-size:1.3rem;
    margin: 3.2rem 0;
    text-shadow: 7px 1px 20px  rgb(0, 0, 0);
}



/* sección form*/

#survey-form{
    color:white;
    font-weight: 400;
    margin:0 auto;
    width:60vw;
    background-image:linear-gradient(180deg, rgba(254, 254, 254, 0), rgba(0, 0, 0, 1));
    padding-top:2.4rem;
    padding-bottom:2rem;
    border-radius:0.7rem;      
}

label{
display:block;
text-align: start;
margin:2rem 0rem 0.6rem 3rem;
}

.form-group{
margin-left: 2.6rem;

}

.form-control{
display:block;
margin:0 auto;
width:85%;
height:2.8rem;
border-radius: 0.5rem;
border: #FFFFFF 0px;
border-style:hidden;
color: #495057;
font-size:1rem;
padding: 0 0 0 1rem;

}



/* subsección select (drowpdown menu)*/

#dropdown-label{
    text-align: center;
    margin-top:3rem;
}

label#dropdown-label + select#dropdown{
position:relative;
top:0.8rem;
left:1rem;
}



/* subsección radio buttons*/

#weather-type{
text-align: center;
margin-top: 3.4rem;
margin-bottom:2.5rem;
}

#form-group-radio{
    display:flex;
    justify-content: center;
}

#form-group-radio > label{
text-align: center;
display:inline-block;
margin:1rem 1rem 3.5rem 0.7rem;
font-size: 0.85rem;

}



/*subscción checkbox*/

#form-group-checkbox-header{
    text-align: center;
    line-height: 1.8rem;
}



/*subsección textarea*/

#comments-header{
    margin-top:5rem;
}

#comments-textarea{
    margin-top:0.6rem;
    font-size:1rem;
}



/* subsección botón de submit */

.submit-button{
margin-top:3rem;
margin-bottom:1rem;
width:12rem;
height: 2.6rem;
border-radius: 10px;
background-color: #01619D;
color:#FFFFFF;
font-size:1rem;
}



/*diseño responsive */

@media screen and (max-width: 768px) {

    html,
    body {
        width: 100vw;
        font-size: 1.8vh;
        text-align: center;
        overflow-x: hidden;
    }


    #header {
        margin-top: 3.8rem;
        text-align: center;
    }

    #title {
        font-size: 1.8rem;
    }


    #survey-form {
        width: 90vw;
    }

    #dropdown-label {
        text-align: center;
        margin-top: 3rem;
    }


    #form-group-radio {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    #comments-textarea {
        margin-top: 0.6rem;
        font-size: 1rem;
        width: 70%;
    }
}