
body,
html {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1.5;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
    color: rgb(0, 0, 0, 0.70)
}

/*Sección #main*/

#main {
    margin: 30px 8px;
    padding: 15px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;

}

#title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

#subtitle {
    text-align: center;
}


/*Sub-sección #img-div*/

#img-div {
    background-color: #FFFFFF;
    margin: 0;
    padding: 10px;
}

#image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

#img-caption {
    margin: 15px 0 5px 0;
}


/*Sub-sección #tribute-info*/

#tribute-info {
    width: 40%;
    text-align: start;
    margin: 0 auto;
}

#tribute-info-title {
    text-align: center;
    padding: 28px 0px;

}

ul>li {
    padding-bottom: 16px;
    line-height: 26px;
    font-weight: 400;
}


/*Subsección blockquoute y enlace a la referencia*/

blockquote {
    padding: 10px 0px 25px 0;
    font-weight: 400;
}

a:link,
a:hover,
a:active {
    color: rgb(255, 255, 255, 1);
    opacity: 0.9;
}

a:visited {
    color: #808080;
}