
/*estilos globales*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200&display=swap');


:root {
    --light-color: #E5E4E2;
    --dark-color: #1A1B1D;
    --shade-color: #7393B3;
}


html,
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'JetBrains Mono', 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-weight: 100;
    line-height: 4vh;
    font-size: 2vh;
}

h1,
h2 {
    color: var(--light-color);
}


a,
a:link,
a:visited {
    color: var(--shade-color);
}


code {
    display: block;
    padding: 1rem;
    border-radius: 1vh;
    background-color: var(--light-color);
    color: #1A1B1D;
    opacity: 0.95;
    font-size: 0.95rem;
    font-weight: 800;
    margin: 2rem 0 2rem 0;
}



/* sección #navbar */

#navbar {
    position: fixed;
    width: 15vw;
    height: 100vh;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-weight: bold;
}

#navbar-header {
    text-align: center;
    font-size: 1.2rem;
    border-bottom: solid #1A1B1D 0.05rem;
    color:var(--dark-color);
}



/*subsección lista no ordenada #index*/
#index {
    width: 100%;
    height: 85%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    padding-left: 0px;
    
}



#index>li>.nav-link {
    text-decoration: none;
    color: var(--dark-color)
}



/*sección #main-doc*/

#main-doc {
    position: absolute;
    top: 3rem;
    left: 23vw;
    width: 70vw;
    height: 100vh;
    text-align: justify;
}

.main-section {
    margin-top: 4.4rem;
}



/*sub-sección #references*/

#references {
    height: 24rem;
}

#references-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.2rem;
}




/* estilos responsive*/


@media screen and (max-width:768px) {

    /*sección #navbar*/

    #navbar {
        
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: var(--light-color);
        color: var(--dark-color);
        
    }

        /*subsección lista no ordenada #index*/

        #index {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 85%;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap:0rem;
            font-size: 1.1rem;
    
        }



    /*sección #main-doc*/

    #main-doc {
        position: absolute;
        top: 100vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        text-align: center;
    }


    /*subsección #getting_started*/

    #getting_started li {
        margin: 0 auto;
        width: 70vw;
       
    }    

    /*subsección #data_types*/

    #data_types li {
        margin: 0 auto;
        width: 20vw;
    }
}


/* estilos para dispositivos donde 'hover' es posible*/

@media (hover: hover) {

    #index>li {
        transition-property: all 0.1s;
    
    }
    
    #index>li:hover {
        transform: scale(1.1);
        background-color: #CECDCB;
        width: 91%;
        text-align: center;
    }

}